<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Memo.Do Prototype</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="styles/normalize.min.css">
        <link rel="stylesheet" href="styles/main.css">
		<link href="styles/redmond/jquery-ui-1.9.1.custom.css" rel="stylesheet">
		
        <script src="scripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
		
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Memo.Do Beta</h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
				<section id="note">
					<article id="note-page">
						<header id="note-header">
							<h1 class="no-margin-bottom">Welcome to your Memo!</h1>
						</header>
						<section class="note-body-class" >
							<p>Memo project is an easily day by day note where you can write anything what you want to write. It's your agenda, your diary, your secretary and anything you can imagine! </p>
							<p>Start today your memo, choose from the dates widget another date and continuous making your memos!</p>
							<p>Memo project is based on simplicity and flexibility. Only you can see your Memo, privacy is a priority for Memo.</p>
							<p>Memo is still a Prototype, but in a future you will can do: </p>
							<ul>
								<li>See a calendar where days with notes will be marked whit a relevant text about that day.</li>
								<li>Attach files to a day.</li>
								<li>Search notes by key words at Google style.</li>
								<li>Download your memories from date to date range.</li>
								<li>Login whit yout Facebook or Twitter account.</li>
								<li>And more! You are the best person to tell us what you want in Memo project, tell us to 
								<a href="mailto:webmaster@memo.do?subject=Contact" target="_blank">webmaster@memo.do<script type="text/javascript">
								/* <![CDATA[ */
								(function(){try{var s,a,i,j,r,c,l=document.getElementById("__cf_email__");a=l.className;if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
								/* ]]> */
								</script></a>
								</li>
							</ul>
							<p>Now you can login whit your Google account, Luck!.</p>
						</section>
					</article>
					<section id="note-options"><a href="{{ url }}" class="link-google-count-style link-login-style">Google login</a></section>
				</section> <!-- #main -->			
			</div><!-- wrapper -->
		</div> <!-- #main-container -->

			
			
			
        <div class="footer-container">
            <footer class="wrapper">
				<article id="license">
				<p>
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Memo.Do</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://talaman.cl" property="cc:attributionName" rel="cc:attributionURL">Talaman.cl</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.Memo.Do" rel="dct:source">http://www.memo.do</a>.
				</p>
				<p>Developed by <a href="http://talaman.cl" target="_blank">Talaman.cl</a> | Designed by <a href="http://talaman.cl" target="_blank">Talaman.cl</a></p>
				<p>Contact <a href="mailto:webmaster@memo.do?subject=Contact">webmaster@memo.do<script type="text/javascript">
				/* <![CDATA[ */
				(function(){try{var s,a,i,j,r,c,l=document.getElementById("__cf_email__");a=l.className;if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
				/* ]]> */
				</script></a></p>
				</article>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.8.2.min.js"><\/script>')</script>
		<script src="scripts/vendor/jquery-ui-1.9.1.custom.js"></script>
        <script src="scripts/main.js"></script>
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36778675-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
      
    </body>
</html>
