{% extends "template.django" %}
{% block content %}
<section id="note">
	<article id="note-page">
		<header id="note-header">
			<h1 class="no-margin-bottom">Welcome to your Memo!</h1>
		</header>
		<section class="note-body-class" >
			<p>Memo project is an easy day by day note application where you can write anything that you want. It's your agenda, your diary, your secretary and anything you can imagine!</p>
			<p>Start your memo today, choose from the dates widget another date and continue making your memos!</p>
			<p>Memo project is based on simplicity and flexibility. Only you can see your Memo, privacy is a priority for Memo.</p>
			<p>Memo is still a Prototype, but in a future you will be able to:</p>
			<ul>
				<li>See a calendar where days with notes will be marked with a relevant text about that day.</li>
				<li>Attach files to a day.</li>
				<li>Search notes by keywords like Google style.</li>
				<li>Download your memories from date to date range.</li>
				<li>Login with your Facebook or Twitter account.</li>
				<li>And much more! You are the best person to tell us what you want in Memo project, feel free to write to us to <a href="mailto:webmaster@memo.do?subject=Contact" target="_blank">webmaster@memo.do</a></li>
			</ul>
			<p>Now you can login with your Google account, Good Luck!</p>
		</section>
	</article>
	<section id="note-options"><a href="{{ url }}" class="link-google-count-style link-login-style">Google login</a></section>
</section>
{% endblock %}