{% extends "template.django" %}
{% block content %}
<section id="note">
	<article id="note-page">
		<header id="note-header">
			<h1 class="no-margin-bottom">Welcome to your Memo!</h1>
		</header>
		<section class="note-body-class" >
			<p>Memo project is an easily day by day note where you can write anything what you want to write. It's your agenda, your diary, your secretary and anything you can imagine! </p>
			<p>Start today your memo, choose from the dates widget another date and continuous making your memos!</p>
			<p>Memo project is based on simplicity and flexibility. Only you can see your Memo, privacy is a priority for Memo.</p>
			<p>Memo is still a Prototype, but in a future you will can do: </p>
			<ul>
				<li>See a calendar where days with notes will be marked whit a relevant text about that day.</li>
				<li>Attach files to a day.</li>
				<li>Search notes by key words at Google style.</li>
				<li>Download your memories from date to date range.</li>
				<li>Login whit yout Facebook or Twitter account.</li>
				<li>And more! You are the best person to tell us what you want in Memo project, tell us to 
				<a href="mailto:webmaster@memo.do?subject=Contact" target="_blank">webmaster@memo.do<script type="text/javascript">
				/* <![CDATA[ */
				(function(){try{var s,a,i,j,r,c,l=document.getElementById("__cf_email__");a=l.className;if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
				/* ]]> */
				</script></a>
				</li>
			</ul>
			<p>Now you can login whit your Google account, Luck!.</p>
		</section>
	</article>
	<section id="note-options"><a href="{{ url }}" class="link-google-count-style link-login-style">Google login</a></section>
</section>
{% endblock %}