<html>
	<head>
    	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  	</head>
	  <body>
	  
	  
	   {% for note in notes %}
	        <b>{{ note.author.nickname }}</b> wrote:
	      <blockquote>{{ note.content|escape }}</blockquote>
	    {% endfor %}
	
	  
	
	    <form action="/savenote" method="post">
	      <div><textarea name="content" rows="8" cols="80"></textarea></div>
	      <div><input type="submit" value="Save"></div>
	    </form>
	    <a href="{{ url }}">{{ url_linktext }}</a>	
	  </body>
</html>