<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Memo.Do Prototype of {{ user.nickname }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="styles/normalize.min.css">
        <link rel="stylesheet" href="styles/main.css">
		<link href="styles/redmond/jquery-ui-1.9.1.custom.css" rel="stylesheet">
		
        <script src="scripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
		
    </head>
    <body>
        <!--[if lt IE 9]>
        	<script>window.location.href =  '/modernbrowser'</script>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Memo.Do Beta <span class="user">of {{ user.nickname }} <a href="{{ url }}" class="link-1">{{ url_linktext }}</a></span></h1>
                <nav>
                    <ul>
                        <li><a href="#" class="link-today">Today</a></li>
                        <!-- <li><a href="#">Calendar</a></li>       
                        <li><a href="#">Donate</a></li>  -->
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
				<section id="note">
					<article id="note-page">
						<header id="note-header">
							<span id="note-date" ><input type="hidden" value="{{ note.date }}" id="note-new-date" /> {{ datestring }}</span>			
							<h1 id="note-title" class="note-title-class" contenteditable="true">
							{% if note.title %}
								{{note.title}}
							{% endif %}
							</h1>
							<h1 id="note-title-placeholder" class="note-title-class">Some title about this day</h1>
							<input type="hidden" value="{{ note.date }}" id="note-this-date" /> 							
						</header>
						<div class="clear"></div>
						<section id="note-body" class="note-body-class note-body-fix-height" contenteditable="true">
							{% if note.body %}
							{{note.body}}
							{% endif %}
						</section>
						<section id="note-body-placeholder" class="note-body-class note-body-fix-height">Write something</section>
					</article>
					<section id="note-options">
						<!--  <span id="save-state">Saving...</span>
						<input type="checkbox" name="autosave" value="autosave" id="note-autosave"/> <label for = "autosave">Auto-save</label> -->
						<button id="note-save" type="button">
						{% if note.title and note.body %}
							Saved
						{% else %}
							New
						{% endif %}
						
						</button>
					</section>
				</section> <!-- #main -->			
			</div><!-- wrapper -->
		</div> <!-- #main-container -->

			
			
			
        <div class="footer-container">
            <footer class="wrapper">
				<nav>
                    <ul>
                        <li><a href="#" class="link-today">Today</a></li>
                        <!--  <li><a href="#">Calendar</a></li>   
                        <li><a href="#">Donate</a></li> -->      
                    </ul>
                </nav>
				<article id="license">
				<p>
					<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Memo.Do</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://talaman.cl" property="cc:attributionName" rel="cc:attributionURL">Talaman.cl</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.Memo.Do" rel="dct:source">http://www.memo.do</a>.
				</p>
				<p>Developed by <a href="http://talaman.cl" target="_blank">Talaman.cl</a> | Designed by <a href="http://talaman.cl" target="_blank">Talaman.cl</a></p>
				<p>Contact <a href="mailto:webmaster@memo.do?subject=Contact">webmaster@memo.do<script type="text/javascript">
				/* <![CDATA[ */
				(function(){try{var s,a,i,j,r,c,l=document.getElementById("__cf_email__");a=l.className;if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
				/* ]]> */
				</script></a></p>
				</article>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-1.8.2.min.js"><\/script>')</script>
		<script src="scripts/vendor/jquery-ui-1.9.1.custom.js"></script>
        <script src="scripts/main.js"></script>
		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36778675-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
      
    </body>
</html>
